@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

:root {
    --warna-utama: #fa9805;
    --hitam: #244361;
    --shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none !important;
    text-transform: capitalize;
    font-family: 'Monstserrat', sans-serif;
}

html {
    scroll-padding-top: 60px;
}

section {
    padding: 20px 0;
}

section:nth-child(odd) {
    background: #f8f8fe;
}

.heading {
    text-align: center;
    padding: 0 15px;
    padding-bottom: 5px;
    color: var(--hitam);
    font-size: 30px;
}

.heading span {
    color: var(--warna-utama);
}

.link-btn {
    display: inline-block;
    background: var(--warna-utama);
    color: #fff;
    border-radius: 50px;
    padding: 5px 25px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.link-btn:hover {
    color: #fff;
    background-color: var(--hitam);
}

header {
    box-shadow: var(--shadow);
    background-color: #fff;
}

header .logo {
    font-size: 20px;
    color: var(--hitam);
}

header .logo:hover {
    color: #43eb22
}

header .logo span {
    color: var(--warna-utama);
}

header .nav a {
    margin-left: 3px;
    border-radius: 50px;
    color: var(--hitam);
    padding: 5px 15px;
}

header .nav a.active,
header .nav a:hover {
    background: var(--warna-utama);
    box-shadow: var(--shadow);
    color: #fff;
}

#menu-bar {
    color: var(--hitam);
    cursor: pointer;
    font-size: 25px;
    transition: .2s linear;
}

.home {
    min-height: 100vh;
    background: url(../gambar/home-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .content span {
    color: var(--warna-utama);
    font-size: 20px;
}

.home .content h3 {
    color: var(--hitam);
    font-size: 50px;
    font-weight: bolder;
}

.about .content h3 {
    color: var(--hitam);
    font-size: 33px;
}

.about .content p {
    color: #777;
    font-size: 14px;
}

.prevention .kotak {
    flex: 1 1 300px;
    background: #f8f8f8;
    border-radius: 5px;
    text-align: center;
}

.prevention .kotak img {
    margin-bottom: 10px;
    height: 70px;
}

.prevention .kotak h3 {
    color: var(--hitam);
    font-size: 20px;
}

.prevention .kotak p {
    color: var(--hitam);
    font-size: 14px;
}

.consult .kotak {
    width: 260px;
    background: #fff;
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin: 5px;
    padding: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.consult .kotak img {
    background: #f8f8f8;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 8px;
}

.consult .kotak h3 {
    font-size: 22px;
    margin: 2px 0;
    color: var(--hitam);
}

.consult .kotak span {
    font-size: 17px;
    color: var(--warna-utama);
}

.consult .kotak .bagi {
    position: absolute;
    top: 5px;
    right: -50px;
    transition: .5s;
}

.consult .kotak:hover .bagi {
    right: 15px;
}

.consult .kotak .bagi a {
    border-radius: 5px;
    background: var(--warna-utama);
    color: #fff;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-top: 5px;
}

.consult .kotak .bagi a:hover {
    background: var(--hitam);
}

.contact form {
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.contact form .kotak,
.contact form textarea {
    background: #f8f8f8;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
    margin: 7px 0;
    width: 100%;
    text-transform: none;
    color: var(--hitam);
}

.contact form textarea {
    resize: none;
    height: 200px;
}

.contact .map {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.blogs .kotak {
    width: 350px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    background: #fff;
}

.blogs .kotak .gambar {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #f8f8f8;
}

.blogs .kotak .gambar img {
    transition: .2s linear;
}

.blogs .kotak:hover .gambar img {
    transform: scale(1.1);
}

.blogs .kotak .content h3 {
    padding: 5px 0;
    font-size: 20px;
    color: var(--hitam);
    text-align: center;
}

.blogs .kotak .content .icon {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.blogs .kotak .content .icon a {
    color: #777;
    font-size: 13px;
}

.blogs .kotak .content .icon a i {
    padding-right: 7px;
}

.blogs .kotak .content .icon a:hover {
    color: var(--warna-utama);
}

.blogs .kotak .content .link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .kotak {
    flex: 1 1 250px;
}

.footer .kotak h3 {
    font-size: 20px;
    color: var(--hitam);
}

.footer .kotak a {
    display: block;
    font-size: 14px;
    color: #777;
    padding: 5px 0;
}

.footer .kotak a:hover {
    color: var(--warna-utama);
}

.footer .selesai {
    text-align: center;
    color: var(--hitam);
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin-top: 10px;
    padding-top: 20px;
}

.footer .selesai span {
    color: var(--warna-utama);
}




/* RESPONSIVE MODEL */
@media (max-width: 991px) {
    .home .content h3 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    header .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .nav.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .nav a {
        display: block;
        width: 100%;
        margin: 10px;
    }

    .fa-times {
        transform: rotate(180deg);
    }
}